/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Roboto Condensed", sans-serif;
	background: linear-gradient(
		0deg,
		rgba(247, 247, 247, 1) 23.8%,
		rgba(252, 221, 221, 1) 92%
	);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 1.8;
}
.music-container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(252, 169, 169, 0.6);
	padding: 2rem;
	position: relative;
	width: 300px;
	height: 150px;
	top: 70px;
}
.img-container::after {
  content: '';
  position: absolute;
  height: 20px !important;
  width: 20px !important;
  border-radius: 50%;
  background-color: #fff;
  z-index: 100;
  top: -28px;
  left: 68px;
}

.img-container img {
	object-fit: cover;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	position: absolute;
	top: -65px;
	animation: rotate 4s linear infinite;
	animation-play-state: paused;
}
.music-container.play .img-container img {
	animation-play-state: running;
}
.navigation {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.action-btn {
	background-color: transparent;
	color: #999;
	font-size: 1.5rem;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	margin: 0 5px;
	padding: 6px;
}
.action-btn:focus {
	outline: none;
}
.action-btn.action-btn-big {
	color: #cdc2d0;
}
.progress-container {
	background-color: #a9a9a9;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 0;
	height: 5px;
	width: 100%;
}
.progress {
	background-color: #fe8daa;
	height: 5px;
	border-radius: 5px;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
