/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
}
body {
	background-color: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	flex-direction: column;
	line-height: 1.6;
	font-weight: 600;
}
ul li {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
ul {
	margin-top: 1rem;
}
ul li .number {
	background-color: #222;
	padding: 8px 16px;
	border-radius: 3px;
	color: #fff;
	margin-right: 1rem;
	width: 50px;
	text-align: center;
}
ul li .draggable {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 12px;
	cursor: pointer;
	width: 250px;
	border-radius: 2px;
	background-color: #ffffff;
}
ul li.over .draggable {
	background-color: #eaeaea;
}
ul li .draggable p {
	margin-right: 2rem;
}
ul li.right .draggable {
	background-color: rgb(12, 117, 12);
	color: #fff;
}
ul li.wrong .draggable {
	background-color: rgb(255, 76, 45);
	color: #f5f5f5;
}
.check {
	display: block;
	width: 320px;
	background-color: rgb(12, 117, 12);
	color: #fff;
	font-size: 1.4rem;
	padding: 8px 24px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  outline: none;
  transition: all 0.4s ease;
}
.check:hover {
  transform: scale(0.95);
}