/** @format */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(15, 15, 15);
	color: #fff;
	width: 100vw;
	height: 100vh;
}
ul {
	list-style-type: none;
}
select {
	padding: 0.3rem 3rem 0.3rem 0.2rem;
	border-radius: 3px;
	color: #444;
	cursor: pointer;
}
.seat {
	background-color: #555;
	width: 24px;
	height: 18px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 1rem;
	/* cursor: pointer; */
	margin: 0.5rem;
	transition: all 0.4s ease-in-out;
}
.seat:not(.occupied):hover {
	cursor: pointer;
  transform: scale(1.05);
  background-color: #fff;
}
.row {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 1rem;
	margin: 1rem;
}
#showcase {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	margin: 1rem 0;
}
#showcase li {
  margin: 0 1rem 0.5rem 1rem;
  text-align: center;
}
.text {
	margin: 2rem 0;
	font-size: larger;
}
.seat.selected {
	background-color: red;
}
.seat.selected:hover {
  background-color: rebeccapurple;
}
.seat.occupied {
	background-color: blue;
}
/* .seat:nth-of-type(2) {
  margin-right: 3rem;
}
.seat:last-of-type(2) {
  margin-right: 3rem;
} */
.screen {
  background-color: #fff;
  height: 80px;
  width: 90%;
  margin: auto;
  box-shadow: 3px 3px 3px rgba(160, 160, 160, 0.6), -3px -3px 3px rgba(160, 160, 160, 0.6);
  /* border-left: 20px solid rgba(0, 0, 0, 0); */
  /* border-bottom-left-radius: 40px;
   */
   border-radius: 3px;
}
.text span {
  color: aqua;
}