/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #296ca8;
	font-family: Arial, Helvetica, sans-serif;
	color: #f2f2f2;
	line-height: 1.7;
	position: relative;
}
.container {
	max-width: 1100px;
	margin: auto;
	padding: 2rem 0;
}
h1 {
	text-align: center;
}
input#filter {
	display: block;
	height: 40px;
	padding: 1rem;
	font-size: 1.2rem;
	width: 100%;
	margin: auto;
	border: none;
	border-radius: 3px;
}

.post {
	position: relative;
	background-color: #4992d3;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin: 3rem 0;
	padding: 1.5rem;
	border-radius: 5px;
}
.post .number {
	position: absolute;
	top: -15px;
	left: -15px;
	height: 30px;
	width: 30px;
	color: #222;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	font-size: 1.2rem;
}
.post .post-info {
	margin-left: 2rem;
}

.loader {
	opacity: 0;
	display: flex;
	position: fixed;
	bottom: 20px;
	transition: opacity 0.3s ease-in;
	justify-content: center;
	width: 100%;
}
.loader.show {
	opacity: 1;
}
.loader .circle {
	background-color: #fff;
	width: 13px;
	height: 13px;
	margin: 0.5rem;
	border-radius: 50%;
	animation: bounce 0.5s ease-in infinite;
}
.loader .circle:nth-child(2) {
	animation-delay: 0.1s;
}
.loader .circle:nth-child(3) {
	animation-delay: 0.5s;
}
@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(10px);
	}
}
