/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 2rem;
}
.text-primary {
	color: rgb(37, 37, 218);
}
.text-secondary {
	color: #444;
}
.text-success {
	color: rgb(17, 141, 17);
}
.text-warning {
	color: rgb(202, 202, 17);
}
.text-danger {
	color: rgb(212, 21, 21);
}
.container {
	max-width: 1100px;
	margin: auto;
	display: flex;
}
button {
	background-color: #fff;
	padding: 0.4rem 1rem;
	cursor: pointer;
	border-radius: 3px;
	display: block;
	border: 1px solid #888;
	margin: 1rem;
	width: 250px;
	text-align: center;
	font-size: 1rem;
}
button:hover {
	background-color: #222;
	color: #fff;
}
h2 {
	border-bottom: 1px solid #999;
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.5rem;
}
strong {
	display: block;
}
main {
	width: 400px;
}
aside {
	border-right: 1px solid #999;
}
h3 {
	border-top: 1px solid #999;
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.5rem;
	background-color: #fff;
	padding-top: 1rem;
	background-color: aquamarine;
	padding: 0.5rem;
}
.person {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	padding: 1rem;
}
