/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #2d2013;
	font-family: "Lato", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	line-height: 1.7;
	letter-spacing: 3px;
	padding: 1rem;
	text-align: center;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
.flex {
	display: flex;
	flex-direction: row;
}
button {
	cursor: pointer;
	border: none;
	transition: all 0.3s ease;
}
button:focus {
	outline: none;
}
input,
button {
	padding: 0.7rem;
	border: none;
}
button[type="submit"] {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
button#random {
	border-radius: 3px;
}
input {
	width: 250px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
button:hover {
	color: #2d2013;
	background-color: rgb(200, 189, 189);
}
#result-heading {
	margin: 2rem 0.5rem;
}
.flex.wrap-seacrh {
	width: 90%;
	margin: auto;
}
#meals {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}
.meal {
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.meal img {
	width: 180px;
	border-radius: 5px;
	transition: 0.4s ease all;
	border: 3px solid #ccc;
}
.meal img:hover {
	transform: scale(1.05);
}
.meal .meal-info {
	position: absolute;
	width: 100%;
	height: auto;
	top: 40%;
	padding-top: 8px;
	background-color: rgba(0, 0, 0, 0.7);
	transition: 0.4s all ease;
	transform: translateY(250px);
}
.meal h5 {
  width: 100%;
}
.meal:hover .meal-info {
	transform: translateY(0px);
}
ul {
	list-style-type: none;
}
.single-meal img {
	width: 300px;
}
.single-meal .main {
	margin-top: 2rem;
}
@media (max-width: 1024px) {
	#meals {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 768px) {
	#meals {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 414px) {
	#meals {
		grid-gap: 5px;
	}
	.meal img {
		width: 160px;
	}
}
