/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #333;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	padding: 1rem;
	line-height: 1.7;
	overflow: hidden;
}
.figure-container {
	fill: transparent;
	stroke: #fff;
	stroke-width: 3px;
	stroke-linecap: round;
}
.figure-part {
	display: none;
}
.game-container {
	position: relative;
	min-width: 400px;
	min-height: 300px;
}
.game-container svg {
	position: absolute;
	left: 0;
	top: 10px;
}
.wrong-letter-container {
	position: absolute;
	right: 0;
	top: 20px;
}
.word {
	position: absolute;
	bottom: 0;
	left: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.letter {
	margin: 0 0.5rem;
	border-bottom: 3px solid #ccc;
	width: 20px;
}
.wrong-letter-container span {
	font-size: 24px;
}
.popup-container {
	background-color: rgba(0, 0, 0, 0.8);
	padding: 2rem;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* display: flex; */
	justify-content: center;
	align-items: center;
	display: none;
}
.popup {
	background-color: #105380;
	color: #fff;
	padding: 2rem;
	text-align: center;
	width: 400px;
	height: 250px;
	border-radius: 3px;
}
.notification-container {
	background-color: #111;
	border-radius: 10px;
	margin: 2rem auto;
	padding: 1rem 1rem 0 1rem;
	transform: translateY(500px);
	transition: all 0.4s ease-in-out;
}
.notification-container.show {
	transform: translateY(0px);
}
