/** @format */

:root {
	--primary-color: #34a78e;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #f5f5f5;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2rem;
	line-height: 2.5rem;
}
h1 {
	color: var(--primary-color);
}
.btn {
	background-color: var(--primary-color);
	color: #f2f2f2;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	border: none;
	font-size: 1rem;
	cursor: pointer;
}
.currency {
	padding: 2rem 0;
}
.currency select,
input {
	padding: 8px 25px;
	border-radius: 3px;
	color: #444;
	border: 1px solid #888;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent;
	background: url("./imgs/down-arrow.svg");
  background-position: right 10px top 50%, 0, 0;
  cursor: pointer;
	/* height: 10px;
  width: 10px; */
	background-size: 10px auto, 100%;
	background-repeat: no-repeat;
}
.swap-rate-container {
	display: flex;
	justify-content: center;
}
input {
	text-align: right;
	border: none;
}
input:focus,
select:focus,
.btn:focus {
	outline: none;
}
