/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #2c3e5f;
	color: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}
button {
	cursor: pointer;
	font-size: 1.2rem;
	padding: 4px 6px;
	background-color: cornflowerblue;
	border: none;
	border-radius: 3px;
	color: #fff;
}
button:focus {
	outline: none;
}
.setting-btn {
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.settings {
	position: absolute;
	top: 0px;
	background-color: rgba(34, 34, 34, 0.87);
	padding: 2rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 3px;
	transform: translateY(0);
	transition: all 0.4s ease-in-out;
	color: #fff;
}
.settings.hide {
	transform: translateY(-100%);
}
.settings select {
	width: 200px;
	height: 35px;
	font-size: 1.2rem;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 3px;
	background-color: lightblue;
	cursor: pointer;
	padding: 5px;
}
.settings select:focus {
	outline: none !important;
}
.settings option:hover {
	border: none !important;
	cursor: pointer;
}
.container {
	width: 600px;
	margin: auto;
	background-color: #34495e;
	border-radius: 15px;
	box-shadow: 0 3px 5px rgba(360, 360, 360, 0.34);
	padding: 3rem;
	line-height: 1.9;
	position: relative;
}
.container {
	text-align: center;
}
.container input {
	display: block;
	width: 70%;
	border: none;
	border-radius: 4px;
	font-size: 1.2rem;
	margin: 2rem auto;
	padding: 10px;
}
.score-container {
	position: absolute;
	top: 60px;
	right: 40px;
}

.time-container {
	position: absolute;
	top: 60px;
	left: 40px;
}
.end-game-container {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 4px;
	height: 100%;
	background-color: rgb(14, 133, 14);
	color: #fff;
}
