/** @format */

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
	--box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	line-height: 1.7;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
ul {
	list-style: none;
}
button {
	cursor: pointer;
	padding: 8px 14px;
	border: none;
	border-radius: 4px;
	background-color: rgb(25, 116, 116);
	color: #fff;
}
.container {
	margin: 1rem auto;
	max-width: 400px;
}
h1 {
	letter-spacing: 1px;
}
.inc-exp-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 3rem;
	background-color: #fff;
	box-shadow: var(--box-shadow);
	margin: 1rem 0;
	border-radius: 3px;
}
.inc-exp-container .inc h4 {
	color: green;
}
.inc-exp-container .exp h4 {
	color: rgb(216, 15, 15);
}
h3 {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.money {
	font-size: 20px;
	letter-spacing: 1px;
}
.list,
form {
	padding: 10px 0;
}
input[type="text"],
input[type="number"] {
	padding: 6px;
	border-radius: 3px;
	border: 1px solid #aaa;
	margin: 0.5rem 0rem;
	display: block;
	font-size: 14px;
	width: 100%;
}
#form button {
	display: block;
	width: 100%;
}
.delete-btn {
	background-color: rgb(194, 26, 26);
}
.list li {
	display: flex;
	background-color: #fff;
	box-shadow: var(--box-shadow);
	border-radius: 3px;
	padding: 5px;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}
.list li.minus {
  border-right: 4px solid rgb(194, 26, 26);
}
.list li.plus {
  border-right: 4px solid green;
}