/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
#main {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.container {
	max-width: 1140px;
	margin: auto;
}
.box {
	margin-bottom: 2rem;
	cursor: pointer;
	margin: 1.5rem;
}
.box.active {
	box-shadow: 5px 4px 5px rgb(226, 101, 12), -5px -4px 5px rgb(226, 101, 12);
}
.box .text {
	text-align: center;
	background-color: chocolate;
	width: 100%;
	border-radius: 3px;
	color: #fff;
	height: 90px;
	padding: 15px;
}
.box img {
	height: 300px;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #999;
}
.btn {
	cursor: pointer;
	font-size: 1.2rem;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	background-color: chocolate;
	color: #fff;
	transition: all 0.4s ease;
}
.btn:hover {
	background-color: rgb(226, 101, 12);
}

.text-box {
	width: 70%;
	margin: auto;
	position: absolute;
	top: 10%;
	left: 17%;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 3rem;
	color: #fff;
	border-radius: 4px;
	line-height: 2;
	transition: all 0.5s ease-in-out;
	transform: translateY(-200%);
}
.text-box select,
textarea {
	display: block;
	margin: 10px 0;
	width: 100%;
	padding: 0.5rem;
	outline: none;
}
.text-box select {
	cursor: pointer;
}
.text-box .read-btn {
	text-align: center;
	display: block;
	width: 100%;
}
.text-box .close {
	position: absolute;
	right: 15px;
	top: 7px;
	font-size: 1.5rem;
	cursor: pointer;
}
.header {
	margin: 2rem 0;
	text-align: center;
	line-height: 1.9;
}
.text-box.show {
	transform: translateY(0);
}

@media (max-width: 768px) {
	#main {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 500px) {
	#main {
		grid-template-columns: repeat(1, 1fr);
	}
}
