/** @format */

/* completed input range */
input[type="range"] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: 100%;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animation-duration: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #00000054, 0px 0px 1px #0d0d0d18;
	border: 1px solid #0000003a;
	height: 32px;
	width: 10px;
	border-radius: 3px;
	background: #c56c6c;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #0e78d4;
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animation-duration: 0.2s;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d6e;
	background: #4481b6;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type="range"]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #00000069, 0px 0px 1px #0d0d0d4f;
	border: 1px solid #000000;
	height: 20px;
	width: 11px;
	border-radius: 3px;
	background: #9e7a7a;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	animation-duration: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: #477daa;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
	background: #4c8dc7;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 20px;
	width: 11px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
	background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #367ebd;
}
video[poster] {
	width: 100%;
	height: 70%;
}
.container {
	max-width: 1100px;
	margin: auto;
}
video {
	border: 1px solid #999;
	border-radius: 5px;
	cursor: pointer;
}
body {
	background-color: #000000;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}
.btn {
	background-color: #00000000;
	border: none;
	cursor: pointer;
}
.btn:focus {
	outline: none;
}
#play {
	color: rgb(219, 27, 27);
}
#stop {
	color: #f2f2f2;
}
h1 {
	text-align: center;
}
.controls {
	display: flex;
	align-items: center;
	background-color: #333;
	border-radius: 5px;
	margin: 1rem 0;
	padding: 0.4rem;
}
.controls input {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
@media (max-width: 500px) {
	.container {
		width: 90vw;
	}
}
