/** @format */

:root {
	--modal-duration: 1.5s;
	--primary-color: #30336b;
	--secondary-color: #be2edd;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
nav {
	background-color: var(--primary-color);
	border: 2px solid rgba(200, 200, 200, 0.2);
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
	width: 250px;
	height: 100vh;
	z-index: 100;
	transition: all 0.4s ease-in-out;
	transform: translateX(-100%);
}
nav .logo {
	padding: 30px 0;
	text-align: center;
}
nav .logo img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li {
	border-bottom: 1px solid rgba(200, 200, 200, 0.2);
	margin-bottom: 1rem;
	padding: 0.5rem;
}
nav ul li a {
	color: #fff;
}
nav ul li a:hover {
	color: #ccc;
}
header {
	background-color: var(--primary-color);
	color: #fff;
	font-size: 130%;
	position: relative;
	padding: 3rem;
	text-align: center;
}
h1 {
	margin: 0;
}
p {
	margin: 2rem;
}
button,
input[type="submit"],
.btn {
	background-color: var(--secondary-color);
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px 18px;
	cursor: pointer;
	/* margin: 1rem; */
}
button:focus {
	outline: none;
}
.toggle {
	background-color: rgba(200, 200, 200, 0.1);
	position: absolute;
	left: 30px;
	top: 40%;
}
/* .cta-btn { */
/* background-color: ; */
/* } */
.container {
	max-width: 1100px;
	margin: auto;
	padding: 2rem;
}
.modal-container {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	display: none;
}
.modal {
	/* padding: 2rem; */
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	top: 7%;
	left: 35%;
	overflow: hidden;
	position: absolute;
	animation: modalOpen var(--modal-duration);
	/* transform: ; */
}
@keyframes modalOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.modal-header h3 {
	background-color: var(--primary-color);
	padding: 1rem;
	color: #fff;
}
.modal-content {
	padding: 2rem;
}
.modal-content label {
	display: block;
	margin-bottom: 5px;
}
.modal input {
	display: block;
	width: 100%;
	margin-bottom: 16px;
	padding: 8px;
	border: 1px solid #999;
	border-radius: 3px;
}
.modal .close-btn {
	margin: 1rem;
	float: right;
	position: relative;
	top: -3px;
}
.show-nav .navbar {
	transform: translateX(0);
}
.show-modal.modal-container {
	display: block;
}
