/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f3f3f3;
	position: relative;
	overflow: hidden;
}
.container {
	max-width: 1200px;
	margin: 3rem auto;
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}
.form {
	background-color: #fff;
	padding: 2rem;
	width: 450px;
	margin: auto;
	box-shadow: 2px 2px 2px rgba(68, 68, 68, 0.541),
		-2px -2px 2px rgba(68, 68, 68, 0.541);
	transition: all 0.4s ease;
}
.text-center {
	text-align: center;
}
.form-group label,
.form-group input {
	display: block;
	color: #444;
}
.form-group label {
	margin-bottom: 0.3rem;
}
.form-group {
	margin-bottom: 1rem;
}
.form-control {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.form .btn {
	width: 100%;
	display: block;
	padding: 0.6rem;
	border: none;
	background-color: rgb(50, 50, 200);
	color: #fff;
	font-size: larger;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.4s ease;
}
.form .btn:hover {
	background-color: rgba(50, 50, 200, 0.911);
}
.form h2 {
	margin: 1rem 0;
}
.small {
	/* color: rgb(199, 19, 19); */
	font-size: 12px;
	/* padding: rem 0; */
	margin-top: 0.3rem;
}
.msg {
	visibility: hidden;
}

.form-control.error ~ .msg {
	visibility: visible;
	color: rgb(199, 19, 19);
}
.form-control.success ~ .msg {
	visibility: visible;
	color: rgba(0, 128, 0, 0.801);
}
@media (max-width: 600px) {
	.form {
		width: 320px;
		padding: 1rem !important;
	}
}
@media (max-width: 320px) {
	.form {
		width: 310px;
		padding: 0.5rem !important;
	}
}
.success-register {
	background-color: green;
	padding: 1.5rem;
	color: #f2f2f2;
	border-radius: 3px;
	position: absolute;
	top: 10%;
	z-index: -1;
	transition: all 0.4s ease-in-out;
	transform: translateY(-800px);
}
.success-register a {
	color: aqua;
}
